header.header
	.container
		.row.justify-content-between
			.header__logo.logo
				a(href='#')
					.logo__brand <strong>Prism</strong>crm
					.logo__description движок интернет-магазина
			nav.nav.header__nav
				ul
					li
						a(href='#')
							i.fa.fa-home
							| Главная
					li
						a(href='#') Почему PRISM?
					li
						a(href='#') Стоимость
					li
						a(href='#') Документация
					li
						a(href='#') Поддержка
					li
						a(href='#'): i.fa.fa-search